Requerimientos del software de sistemas de baches .

1)el sistema  debera tener tres tipos de permisos:
    1.1 anonimos: solo podra ingresar y ver lo publicado en el sistema.
    1.2 usuarios: tendran que loguease para unicamente poder  publicar.
    1.3 administrador: tendran permisos totales  sobre el sistema .

2) El sistema debera tener una interfaz simplre y homogenea

3) se podra acceder desde dispositivos moviles

4)  el sistema debera tener un mapa con un sistema de marcadores que señalen los obstaculos en la via publica. 
